$primar-25: rgb(213,223,248);
$primar-50: rgb(129,159,237);
$primar-75: rgb(88,128,231);

$tale:      rgb(125,160,250);
$dark-blue: rgb(71,71,161);
$light-blue:rgb(121,120,233);
$light-danger:rgb(243,121,126);


$success-100: rgb(0,177,118,0.1);
$success-200: rgb(0,177,118,0.2);
$success-300: rgb(0,177,118,0.3);
$success-400: rgb(0,177,118,0.4);
$success-500: rgb(0,177,118,0.5);
$success-600: rgb(0,177,118,0.6);
$success-700: rgb(0,177,118,0.7);
$success-800: rgb(0,177,118,0.8);
$success-900: rgb(0,177,118,0.9);



$danger-100: rgb(204,27,25,0.1);
$danger-200: rgb(204,27,25,0.2);
$danger-300: rgb(204,27,25,0.3);
$danger-400: rgb(204,27,25,0.4);
$danger-500: rgb(204,27,25,0.5);
$danger-600: rgb(204,27,25,0.6);
$danger-700: rgb(204,27,25,0.7);
$danger-800: rgb(204,27,25,0.8);
$danger-900: rgb(204,27,25,0.9);


$info-100: rgb(144,106,212,0.1);
$info-200: rgb(144,106,212,0.2);
$info-300: rgb(144,106,212,0.3);
$info-400: rgb(144,106,212,0.4);
$info-500: rgb(144,106,212,0.5);
$info-600: rgb(144,106,212,0.6);
$info-700: rgb(144,106,212,0.7);
$info-800: rgb(144,106,212,0.8);
$info-900: rgb(144,106,212,0.9);