/*------------------------------------------------------------------
 [Master Stylesheet]

  Project:	GST Management
  Version:	1.1
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * variables
    + _variable.scss
    + _customvariable.scss
  * Typography Classes
  * Layout Classes
  * Common usefull classes
  * primeNG customization
  * Header
  * Sidebar
  * Authentication Pages
    + Login Page
    + Register Page
    + Forgot Page
  * Dashboard Pages
-------------------------------------------------------------------*/

/* === Import variables === */
@import "variables";
@import "customvariables";
@import "fonts";

/* === Typography Classes === */
h1{
  font-size: 34px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 22px;
}
h6{
  font-size: 20px;
}
.font-10{
  font-size: 10px;
}
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
  line-height: 28px;
}
.font-20{
  font-size: 20px;
}
.font-22{
  font-size: 22px;
}
.font-24{
  font-size: 24px;
}
.font-26{
  font-size: 26px;
}
.font-28{
  font-size: 28px;
}
.font-30{
  font-size: 30px;
}
.font-remixicon{
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-extralight{
  font-family: $gstmanager-ExtraLight;
}
.text-light{
  font-family: $gstmanager-Light;
}
.text-regular{
  font-family: $gstmanager-Regular;
}
.text-semibold{
  font-family: $gstmanager-SemiBold;
}
.text-black{
  font-family: $gstmanager-Black;
}
.text-gray-900{
  color: $gray-900;
}
.cursor-pointer{
  cursor: pointer;
}
// Common
body{
  background-color: $gray-100;
}
pre{
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px;
  background-color: #eeeeee;
  font-size: 16px;
  overflow: auto;
}
/* === Top Info Section === */
.top-info-section{
  .video-preview-wrapper{
    width: 275px;
    img{
      border-radius: 5px;
    }
    .preview-wrapper{
      position: absolute;
      bottom: 12px;
      left: 5px;
      background-color: rgba(2, 2, 2, 0.4);
      padding: 5px 10px;
      border-radius: 5px;
      .icon-wrapper{
        padding: 0px 4px;
        i{
          position: relative;
          top: 2px;
        }
      }
      .text-wrapper{
        margin: 2px 0 0 7px;
      }
      &:hover{
        background-color: rgba(2, 2, 2, 0.7);
      }
    }
  }
  .text-wrapper{
    width: calc(100% - 275px);
    .tags{
      .tag-item{
        border-radius: 20px;
        background-color: $success-100;
        color: $success;
      }
    }
    .heading{
    }
  }
  .stat-box-wrapper{
    position: relative;
    top: 60px;
    .stat-box{
      background-color: $white;
      padding: 1.5rem 20px;
      border-radius: 10px;
      -webkit-box-shadow: rgb(62 28 131 / 10%) 0px 0px 20px 0px;
      box-shadow: rgb(62 28 131 / 10%) 0px 0px 20px 0px;
      .icon-wrapper{
        width: 75px;
        i{
          padding: 15px 11px;
        }
      }
      .text-wrapper{
        width: calc(100% - 75px);
      }
    }
    .col-12:nth-child(1){
      .stat-box{.icon-wrapper{
        i{
          background-color: $danger-200;
          border: 1px dashed $danger;
          color: $danger;
        }
      }
      }
    }
    .col-12:nth-child(2){
      .stat-box{.icon-wrapper{
        i{
          background-color: $info-200;
          border: 1px dashed $info;
          color: $info;
        }
      }
      }
    }
    .col-12:nth-child(3){
      .stat-box{.icon-wrapper{
        i{
          background-color: $success-200;
          border: 1px dashed $success;
          color: $success;
        }
      }
      }
    }
  }
}
.what-learn-wrapper{
  .col-12{
    margin-bottom: 12px;
  }
  .icon-wrapper{
    width: 40px;
  }
  .text-wrapper{
    width: calc(100% - 40px)
  }
}
.course-include{
  .course-inclue-list{
    ul{
      li{
        .icon-wrapper{
          width: calc(100% - 100px);
          i{
            background-color: $success-100;
            border: 1px $success dashed;
            color: $success;
            padding: 2px 5px;
          }
          span{
            margin-top: 3px;
          }
        }
        .text-wrapper{
          width: 100px;
        }
      }
    }
  }
}
.curriculum-wrapper{
  .custom-accordion{
    .accordion-item{
      .accordion-button{
        font-family: "gstmanager-SemiBold";
        &:not(.collapsed){
          background-color: $white;
          color: $gray-900;
        }
        &::after{
          content: "\ea4e";
          background-image: none;
          font-size: 20px;
          font-family: "remixicon" !important;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &:focus{
          box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
        }
      }
      .accordion-body{
        .curriculum-list{
          li{
            padding-left: 25px !important;
            border-color: $gray-200 !important;
            a{
              i{
                color: $success;
                font-size: 22px;
                &.ri-file-line{
                  font-size: 18px;
                }
              }
            }
            ul{
              li{
                list-style-type: circle;
                float: left;
                width: 100%;
                padding: 0 !important;
                margin-left: 60px;
                margin-top: 5px;
                a{
                  color: $gray-900;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Page Back Btn
  // .back-btn{
  //   position: absolute;
  //   left: -45px;
  //   top: 18px;
  //   i{
  //     font-size: 34px;
  //   }
  // }

// Information Page
.information-wrapper{
  background-image: url('../images/intro-bg.svg');
  a{
    color: $success;
    span,i{
      color: $success !important;
    }
  }
  .heading{
    h5{
      font-size: 34px;
    }
  }
  .disc-listing{
    li{
      list-style-type: disc;
    }
  }
}

//Bootstrap customization
.accordion-button:focus{
  outline: none;
  box-shadow: none;
}
.align-middle tr th, .align-middle tr td{
  vertical-align: middle;
}
.table-bordered{
  tr{
    th,td{
      border: 1px solid $gray-400;
    }
  }
}
.table > :not(:first-child){
  border-top: none;
}